body{
	margin: 0;
	font-family: arial;
}
header{
	background-color: #ff9933;
	text-align: center;
}
header h1{
	color: purple;
	
}
header img{
	border-radius: 150px;
	border:20px white;
}
main{
	max-width: 800px;
	text-align: center;
}
main img{
	max-width:100%;
}